.one{
    background-color: aqua;
}
.two{
    background-color: rgb(188, 19, 255);
}

.three{
    background-color: bisque;
}
.four{
    background-color: yellowgreen;
}
.five{
    background-color: rgb(247, 0, 205);
}

.h1-with-class{
    border: 2px solid rgb(255, 99, 99);
}
