* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;

}

.container {
    background-image: url("ap.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100%;
    width: 100%;
    position: absolute;
    background-position: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

}

.form-div {
    background-color: white;
    height: 75vh;
    width: 50vh;
    position: relative;
    margin: 20% auto auto auto;
    padding: 25px;
    border-radius: 10px;
    overflow: hidden;
    display: grid;
    grid-column: 5/span 2;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(8, 1fr);
    gap: 20px;
}

input {
    margin-top: 0px;
    width: 100%;


    padding: 5px 0;

    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transpare
}

.form-check-input {
    width: fit-content;
}
.sec{
    grid-column: 2/span 1;
    display: flex;
    align-items: center;
    color: white;
}
h2 > span{
    border: 3px solid blue;
}
.btn {
    color: white;
    background-color: blue;
    padding: 10px 25px 10px 25px;
    border-radius: 8px;
    font-weight: 700;
    font-size: 15px;
}

label > span {
    color: blue;
}

.heading {
    grid-column: 1/span 2;
}

.pera {
    grid-column: 1/span 2;
}

.email {
    grid-column: 1/span 2;
}

.first-name {
    grid-column: 1/ span 1;
}

.last-name {
    grid-column: 2/ span 1;
}

.password {
    grid-column: 1/span 2;
}

.date {
    grid-column: 1/span 2;
}

.checkbox-div {
    grid-column: 1/span 2;
}

.btn-div {
    grid-column: 1/span 2;
    display: flex;
    justify-content: center;
}