body{
    background-color: aquamarine;
}
.my-form{
    border: 5px solid red;
    padding: 30px;
    height: 520px;
    width: 250px;
    margin: auto;
    background-color: aqua;
    
}
.my-div{
    padding: 10px;

}
