
li{
    display:inline;
    padding:10px;
}
a:hover{
    color:red;
}
li > ul{
    display:none;
}
li:hover ul {
    display: block;
    position: absolute;
}
nav{
    background-color: aqua;
    padding: 10px;
}
.Maincontainer {
  
    height: 50%;
    text-align: center;
}

.container {
    height: 100%;
    width: 350px;

    

    margin: 10px auto auto auto;
}

#header {
    text-align: center;
    background-color: rgb(174, 0, 255);
    padding: 1px;

}

img {
    border-radius: 50%;
    padding: 10px;
}

.img1 {
    text-align: center;
    margin: 10px;
}


.section {

    background-color: aquamarine;
    padding: 20px;
}

table {
    
    width: 100%;
    
}

#tablediv {
    text-align: center;
    padding: 10px;

}

#btndiv {
    text-align: center;
    margin: auto;

}

button {
    padding: 8px 20px 8px 20px;
    background-color: blue;
    border-radius: 8px;
   
    margin-right: 15px;
    color: white;
}
.btn{
   float: right;  
}

